@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  /* Light Mode */
  --header-background: rgb(14, 52, 53);
  --header-color: #ccc;
  --body-background: #fff;
  --body-color: #000;
  --card-background: #f1f1f1;
  --card-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  --link-color: #007bff;

  /* Dark Mode */
  --dark-header-background: #222;
  --dark-header-color: #eee;
  --dark-body-background: #111;
  --dark-body-color: #eee;
  --dark-card-background: #444;
  --dark-card-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  --dark-link-color: #4b8cff;

  /* Blue Mode */
  --blue-header-background: #002750;
  --blue-header-color: #fff;
  --blue-body-background: #f1f1f1;
  --blue-body-color: #000;
  --blue-card-background: #c8e2f7;
  --blue-card-shadow: 0 2px 4px rgba(0, 123, 255, 0.3);
  --blue-link-color: #0056b3;

  /* Custom Mode */
  --custom-header-background: #3c003c;
  --custom-header-color: #fff;
  --custom-body-background: #f8f8f8;
  --custom-body-color: #333;
  --custom-card-background: #c989c9;
  --custom-card-shadow: 0 2px 4px rgba(128, 0, 128, 0.3);
  --custom-link-color: #3c003c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", "Roboto", sans-serif;
  transition: background-color 0.3s ease;
  background-color: var(--body-background);
  color: var(--body-color);
}

.container {
  margin: 20px auto;
  max-width: 800px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-background);
  color: var(--header-color);
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.header h1 {
  font-size: 28px;
  margin: 0;
}

.theme-dropdown {
  position: relative;
  font-size: 16px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: var(--card-background);
  color: var(--body-color);
  box-shadow: var(--card-shadow);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.theme-dropdown::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-left: 2px solid var(--body-color);
  border-bottom: 2px solid var(--body-color);
  transition: transform 0.3s ease;
  pointer-events: none;
}

.theme-dropdown:focus {
  outline: none;
}

.theme-dropdown:hover::after {
  transform: translateY(-50%) rotate(45deg);
}

.theme-dropdown option {
  background-color: var(--card-background);
  color: var(--body-color);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 40px;
  padding: 20px;
}

.card {
  background-color: var(--card-background);
  box-shadow: var(--card-shadow);
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  transition: transform 0.3s ease;
  cursor: pointer;
  text-align: start;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.card h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card p {
  margin-bottom: 10px;
}

.card a {
  color: var(--link-color);
  text-decoration: none;
  font-weight: bold;
}

.card a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
  }

  .theme-dropdown {
    margin-top: 10px;
    width: 100%;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb {
  background-color: var(--header-background);
  border-radius: 4px;
}

@keyframes header-slide {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.header {
  animation: header-slide 1s ease-out forwards;
}

@keyframes card-pop {
  0% {
    transform: scale(0.95);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
