:root {
  --primary-bg: #333;
  --secondary-bg: #444;
  --primary-text: #f0f0f0;
  --secondary-text: #ccc;
  --snake-color: #3474b3;
  --food-color: red;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: var(--primary-bg);
}

.game-container {
  width: 500px;
  height: 500px;
  border: 5px solid var(--primary-text);
  position: relative;
  background-color: var(--secondary-bg);
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.snake,
.food {
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: var(--snake-color);
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(var(--snake-color), 0.5);
}

.food {
  width: 10px;
  height: 10px;
  z-index: 10;
  background-color: var(--food-color);
  box-shadow: 0 0 10px rgba(var(--food-color), 0.5);
}

button {
  background-color: var(--snake-color);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: var(--secondary-text);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

#points {
  font-size: 18px;
  font-weight: bold;
  color: var(--primary-text);
}

@media only screen and (max-width: 480px) {
  .controls {
    flex-direction: column;
    gap: 10px;
  }

  .game-container {
    height: 60vh; /* Increased the height */
    width: 90vw;
  }

  .mobile-controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dpad {
    position: relative;
    width: 150px; /* Increase the size of the container */
    height: 150px; /* Increase the size of the container */
  }

  .dpad-button {
    position: absolute;
    width: 60px; /* Increased the size of the buttons */
    height: 60px; /* Increased the size of the buttons */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--snake-color);
    border: none;
    color: white;
    transition: background-color 0.3s;
    font-size: 32px; /* Increased the size of the arrow icons */
    border-radius: 10px; /* Added some rounded corners */
  }
  .dpad-up {
    top: 0;
    left: 50px;
  }

  .dpad-down {
    bottom: 0;
    left: 50px;
  }

  .dpad-left {
    left: 0;
    top: 50px;
  }

  .dpad-right {
    right: 0;
    top: 50px;
  }

  .mobile-controls button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 24px; /* Increased font size for better visibility */
    flex: 1;
  }

  #up {
    grid-column: 2;
  }

  #left {
    grid-column: 1;
  }

  #right {
    grid-column: 3;
  }

  #down {
    grid-column: 2;
  }
}

.mobile-controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.mobile-controls button {
  padding: 10px;
  flex: 1;
}

#left,
#right {
  flex-basis: 50%;
}

@media only screen and (min-width: 481px) {
  .mobile-controls {
    display: none;
  }
}
