body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

#container {
  position: relative;
  width: 100vw;
  height: calc(100vh - 40px);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-auto-rows: 100px;
  grid-gap: 10px;
  overflow: auto;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.control-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.control-group-1 {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 5px;
}

.control-group > label {
  margin-right: 5px;
}

#erase-menu {
  display: none;
  margin-left: 10px;
}

#erase-menu .control-group {
  margin-bottom: 5px;
}

#background-toggle .control-group {
  display: flex;
  align-items: center;
}

#background-toggle .control-group > label {
  margin-right: 5px;
}

#background-toggle input[type="color"] {
  display: none;
  margin-right: 5px;
}

button,
select,
input[type="range"] {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: #3498db;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover,
select:hover,
input[type="range"]:hover {
  background-color: #2980b9;
}

button:focus,
select:focus,
input[type="range"]:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(52, 152, 219, 0.5);
}

input[type="range"] {
  width: 150px;
  margin-left: 10px;
}

input[type="color"] {
  padding: 0;
  width: 30px;
  height: 30px;
}

/* Dark mode styles */
body.dark-mode {
  background-color: #1a1a1a;
  color: #f0f0f0;
}

.dark-mode #controls {
  background-color: #333;
}

.dark-mode #controls .control-group > label,
.dark-mode #controls select,
.dark-mode #controls input[type="range"],
.dark-mode #controls button {
  color: #f0f0f0;
}

.dark-mode #controls button {
  background-color: #444;
}

.dark-mode #erase-menu .control-group > label {
  color: #f0f0f0;
}

.dark-mode option {
  color: #ccc;
  background-color: #333;
}

.dark-mode select {
  color: #ccc;
  background-color: #333;
}

.dark-mode #theme-toggle .control-group > label,
.dark-mode #theme-toggle select {
  color: #f0f0f0;
}

.dark-mode #background-toggle input[type="color"] {
  display: inline-block;
}

/* Light mode styles */
body.light-mode {
  background-color: #f0f0f0;
  color: #1a1a1a;
}

.light-mode #controls {
  background-color: #f0f0f0;
}

.light-mode #controls .control-group > label,
.light-mode #controls select,
.light-mode #controls input[type="range"],
.light-mode #controls button {
  color: #1a1a1a;
}

.light-mode #controls button {
  background-color: #ddd;
}

.light-mode #erase-menu .control-group > label {
  color: #1a1a1a;
}

.light-mode #theme-toggle .control-group > label,
.light-mode #theme-toggle select {
  color: #1a1a1a;
}

.light-mode #background-toggle input[type="color"] {
  display: inline-block;
}

.disabled-input {
  opacity: 0.1;
  pointer-events: none;
}

.control-group-left {
  display: flex;
  gap: 2rem;
}

input[type="number"] {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

input[type="number"]:hover {
  background-color: #f0f0f0;
}

input[type="number"]:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(52, 152, 219, 0.5);
}

input[type="checkbox"] {
  margin-right: 5px;
  cursor: pointer;
}

/* Dark mode styles */
body.dark-mode input[type="number"] {
  background-color: #333;
  color: #f0f0f0;
}

body.dark-mode input[type="number"]:hover {
  background-color: #444;
}

body.dark-mode input[type="checkbox"] {
  color: #f0f0f0;
}

/* Light mode styles */
body.light-mode input[type="number"] {
  background-color: #f0f0f0;
  color: #1a1a1a;
}

body.light-mode input[type="number"]:hover {
  background-color: #ddd;
}

body.light-mode input[type="checkbox"] {
  color: #1a1a1a;
}
